*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    background: #2f5da3;
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: white;
}
section{
    display: flex;
    background: rgba(169, 169, 169, 0.99);
    border-radius: 15px;
    padding: 25px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(69, 69, 69, 0.3);
}
footer{
color: white;
    text-align: center;
    font-style: italic;
}




